#formularioRegistro {
    margin: 10px 15px 10px 15px;
}

.inputForm {
    margin-top: 5px;
}

.btn-margen {
    margin-left: 5px;
}

.tamanioPantalla {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    #formularioRegistro {
        /* top | right | bottom | left */
        margin: 10px 15px 10px 15px;
    }

    .tamanioPantalla {
        height: auto;
    }
}